*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar{
    background-image: linear-gradient(to right, #b75bc5, #460b61);
    
}

.container-fluid a img{
    width: 60px;
}
#banner{
    background-image: linear-gradient(to right, #b75bc5, #460b61);
    color: white;
}
.banner-img{
    width: 100%;
}
.title {
    font-size: 40px;
    font-weight: 600;
    margin-top: 100px;
    position: relative;
}
.title::before{
    content: "";
    background-color: #7b1798;
    width: 200px;
    height: 5px;
    position: absolute;
    top: 90%;
    left: 30%;
}
.title::after{
    content: "";
    background-color: #7b1798;
    width: 50px;
    height: 10px;
    position: absolute;
    top: 100%;
    left: 40%;
}
section h2::before{
    content: "";
    position: absolute;
    width: 150px;
    height: 4px;
    background-color: #7b1798;
    bottom:-20%;
    left: 43%;
}
section h2::after{
    content: "";
    position: absolute;
    width: 50px;
    height: 7px;
    background-color: #7b1798;
    bottom:-22%;
    left:47%;
}
.container img:hover{
    transform: translateY(-10px);
    transition: all 0.5s;
}